@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    width: 75%;
    margin: 7rem auto;
}

header {
    font-size: 1.6rem;
}

.title_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title_sub {
    color: darkgray;
    letter-spacing: 1px;
}

.navigation {
    margin: 5rem 0;
    position: relative;
}

.navigation_search {
    position: absolute;
    top: 1rem;
    right: 0;
}

.navigation_container_item {
    display: inline-block;
    padding: 1rem 2rem 1rem 0;
    margin-right: 1.2rem;
    position: relative;
}

.navigation_container_item a {
    text-decoration: none;
    width: 100%;
}

.navigation_container_item a::after {
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(135deg);
}

.main {
    margin-bottom: 10rem;
}

.main_image {
    margin: 5rem 0;
}

.main_image_img {
    width: 100%;
}

.main_text {
    margin: 5rem 0 10rem;
    font-size: 3rem;
    color: darkgray;
}

.main_text_text {
    letter-spacing: 3px;
    line-height: 1.5;
}

.main_content {
    margin: 10rem 0;
}

.main_content_box {
    margin: 5rem 0;
    font-size: 1.6rem;
}

.main_content_box_box {
    list-style-type: none;
    margin: 5rem 0 10rem;
}

.main_content_box_box_date {
    display: block;
    margin-bottom: 2rem;
    color: darkgray;
}

.main_content_box_box_title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.main_content_box_box_text {
    color: darkgray;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.main_content_forward_item {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

.main_content_forward_item a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.is_forward_active {
    background-color: rgba(196, 191, 191, 0.89);
}

.main_footer {
    font-size: 1.6rem;
    color: gray;
}

.main_footer_profile {
    overflow: hidden;
    margin-bottom: 2rem;
}

.main_footer_profile_img {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    float: left;
    margin-right: 3rem;
}

.main_footer_profile_text {
    margin-top: 3rem;
}

.main_footer_profile_name {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main_footer_profile_sns {
    list-style-type: none;
}

.main_footer_profile_sns_item {
    display: inline-block;
    margin-right: 1rem;
}

.main_footer_text {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.5;
    color: gray;
    margin-bottom: 5rem;
}

.main_footer_right {
    margin-bottom: 10rem;
    font-size: 1.6rem;
}

.main_footer_right_title {
    font-weight: normal;
    margin-bottom: 3rem;
}

.main_footer_right_text {
    letter-spacing: 1px;
    line-height: 1.5;
}

.main_footer_post {
    margin-bottom: 10rem;
}

.main_footer_post_title {
   margin-bottom: 3rem;
   font-weight: normal;
}

.main_footer_post_content_item {
    list-style-type: none;
    margin-bottom: 3rem;
}
.main_footer_post_content_item_title {
    margin-bottom: 1rem;
    font-weight: normal;
    text-decoration: underline;
}

.main_footer_category {
    margin-bottom: 10rem;
}

.main_footer_category_box_item {
    list-style-type: none;
    margin-bottom: 3rem;
}

.main_footer_search_box_search {
    width: 30rem;
    height: 3rem;
    padding-left: 1rem;
}

.footer {
    color: gray;
}

.footer_sns {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}
.footer_sns_item {
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
}

.footer_copyright {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}